<div class="container mt-5 pb-5">
  <div class="row">
    <div class="col-8 m-auto">
      <h1><b style="color: #E08504;">投</b>稿の 
      <b style="color: #E08504;">編</b>集</h1>
      <%= render 'notes/edit', note: @note, tag_list: @tag_list %>
    </div>
  </div>
</div>
