<div class="container mt-5">
  <div class="row pb-5">
    <div class="col-3">
      <%= render 'users/info', user: current_user, notes: @user_notes %>
    </div>
    <div class="col-9">
      <h1><b style="color: #E08504;">N</b>ote 
      <b style="color: #E08504;">E</b>dit</h1>
      <p>投稿の編集</p>
      <%= render 'notes/edit', note: @note, tag_list: @tag_list %>
    </div>
  </div>
</div>
