<div class="container my-5 px-sm-0">
  <div class="row">
    <div class="col-3">
      <h1><b style="color: #E08504;">検</b>索</h1>
      <%= render 'searchs/form', tags: @tags %>
    </div>
    <div class="col-9">
      <h1><b style="color: #E08504;">投</b>稿一覧</h1>
      <% if @notes.count == 0 %>
        <div>投稿はありません</div>
      <% else %>
        <%= render 'notes/index', notes: @notes %>
      <% end %>
    </div>
  </div>
</div>