<div class="container mt-5 pb-5">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: @user, notes: @user_notes %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1><b style="color: #E08504;">新</b>規投稿</h1>
      <%= render 'notes/form', note: @note %>
    </div>
  </div>
</div>