<div class="container mt-5 pb-5">
  <div class="row">
    <%= render 'users/info', user: current_user, notes: @user_notes %>
    <div class="col-8 ml-3">
      <h1><b style="color: #E08504;">新</b>規投稿</h1>
      <%= render 'notes/form', note: @note %>
    </div>
  </div>
</div>