<div class="container mt-5 pb-5">
  <div class="row">
    <%= render 'users/info', user: current_user, notes: @user_notes %>
    <div class="col-8 ml-3">
      <% if @notifications.exists? %>
        <%= render 'notifications/notifications', notifications: @notifications %>
      <% else %>
        <p>通知はありません</p>
      <% end %>
      <div class="row col-10 m-auto">
        <%= paginate @notifications %> 
      </div>
    </div>
  </div>
</div>