<table class="table tabel-hover table-inverse">
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td>
        <div class="profile-img">
          <%= attachment_image_tag user, :profile_image, format: 'jpg', fallback: "no_image.jpg" %>
        </div>
        <%= link_to user.name, user_path(user.name) %>
      </td>
      <td>
        <% if user.users_status == true %>
          <span class="user-status border border-danger">
            退会済みユーザー
          </span>
        <% end %>
      </td>
      <td>
        <% if current_user != user %>
          <div class="text-center border border-secondary rounded-pill">
            <% if current_user.following?(user) %>
              <%= link_to "フォロー中", user_relationship_path(user.name), method: :delete %>
            <% else %>
              <%= link_to "フォローする", user_relationship_path(user.name), method: :post %>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>