<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <%= render 'users/info', user: @user, notes: @user_notes %>
    </div>
    <div class="col-9">
      <h1><b style="color: #E08504;">F</b>avorite 
      <b style="color: #E08504;">N</b>ote</h1>
      <p>お気に入りした投稿</p>
      <%= render 'notes/index', notes: @favorites_notes %>
    </div>
  </div>
</div>