<div class="container py-5">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: @user %>
    </div>
    <div class="col-md-8">
      <h2>Favorite Notes</h2>
      <%= render 'notes/index', notes: @favorites_notes %>
    </div>
  </div>
</div>