<div class="container mt-5 pb-5">
  <div class="row">
    <%= render 'users/info', user: current_user, notes: @user_notes %>
    <div class="col-8 ml-3">
      <h1><b style="color: #E08504;">M</b>y <b style="color: #E08504;">P</b>age</h1>
      <p>マイページ</p>
      <% if @notes.count == 0 %>
        <div>投稿はありません</div>
      <% else %>
        <%= render 'notes/index', notes: @notes %>
      <% end %>
      <div class="row col-10 m-auto">
        <%= paginate @notes %> 
      </div>
    </div>
  </div>
</div>