<div class="row justify-content-center">
  <i class="fas fa-arrow-circle-down fa-4x col-6 d-flex align-items-center justify-content-center">
    <h1 class="Instructions-about">about</h1>
  </i>
</div>

<div class="about shadow-lg">
  <div id="aboutmap"></div>
  <script>
    function initMap() {
      let geocoder = new google.maps.Geocoder()
      let map = new google.maps.Map(document.getElementById('aboutmap'), {
        center: {
          lat: 35.6585848,
          lng: 139.7432389
        },
        zoom: 15
      });
      
      (function(){
      var marker = new google.maps.Marker({
          position: {lat: 35.6585848, lng: 139.7432389},
          map: map,
      });
      })();
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
</div>