<div id="main">
  <div id="theTarget">
    <div class="image1"><h1 class="main-title">Travel Spot</h1></div>
    <div class="image2"><h1 class="main-title">Travel Spot</h1></div>
    <div class="image3"><h1 class="main-title">Travel Spot</h1></div>
    <div class="image4"><h1 class="main-title">Travel Spot</h1></div>
    <div class="image5"><h1 class="main-title">Travel Spot</h1></div>
  </div>
</div>