/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #75CCD1;
}

main {
  background-color : #F5EDE9;
  min-height : 600px;
}

footer {
  background-color: #75CCD1;
}

main {
  padding-top : 3rem;
}

.navbar-brand, .navbar-toggler {
  font-size: 30px;
  padding: 0 30px;
  border: none;
}

.footer-brand {
  font-size: 40px;
}

.login {
  padding: 20px 0;
  width: 100%;
  height : 100%;
  background-image: image-url('login_background.jpg');
  background-size: cover;
}

.sign-in {
  padding: 20px 0;
  width: 100%;
  height : 100%;
  background-image: image-url('sign_in_background.JPG');
  background-size: cover;
  background-position: 0 80%;
}

.title {
  padding-top: 20px;
  font-size: 40px;
}

.sign-in-form, .login-form {
  width : 60%;
  hight : 100%;
  margin: 10px auto;
  padding: 10px 0;
  border-radius : 20px;
  background-color: rgba(255,255,255,0.8);
}

.input-form {
  text-align: left;
  width : 80%;
  margin: auto;
}

.form {
  width: 80%;
  margin: 20px auto;
}

.input {
  width: 100%;
}

@media screen and (max-width:768px) {
  main {
    padding-top : 2.5rem;
  }
  .navbar-brand, .navbar-toggler {
    font-size: 20px;
    padding: 0 20px;
    border: none;
  }
  .footer-brand {
    font-size: 30px;
  }
  .title {
    padding-top: 0px;
    font-size: 30px;
  }
  .title_sub {
    font-size: 15px;
  }
  .sign-in-form, .login-form {
    margin: 5px auto;
    width : 90%;
  }
  .form {
    margin: 5px auto;
  }
}

@media screen and (max-width:425px) {
  main {
    padding-top : 2rem;
  }
  .navbar-brand, .navbar-toggler {
    font-size: 15px;
    padding: 0 20px;
    border: none;
  }
  .footer-brand {
    font-size: 20px;
  }
  .title {
    padding-top: 0px;
    font-size: 20px;
  }
  .title_sub {
    font-size: 12px;
  }
  .sign-in-form, .login-form {
    width : 90%;
  }
  .form {
    margin: 10px auto;
  }
  em {
    font-size: 15px;
  }
}

.mandatory {
  font-size: 10px;
  color: red;
  margin-left: 5px;
  padding: 0 2px;
}

table td {
  word-break : break-all;
}

h1, p, a, div　{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag　{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#back {
  position : fixed;
  right : 50px;
  bottom : 30px;
}

.fa-arrow-circle-up {
 color : grey;
}

.pagination > li > a {          
  border: none;
  color: #696969;
}

.pagination > .active > a {     
  background: #93c9ff;
  border-radius: 15px;
}

.pagination > li > a:hover {        
  border-radius: 15px;
}