// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image1 {
 background-image: url("home/img1.jpg");
 background-size : cover;
}
.image2 {
 background-image: url("home/img2.jpg");
}
.image3 {
 background-image: url("home/img3.jpg");
}
.image4 {
 background-image: url("home/img4.jpg");
}
.image5 {
 background-image: url("home/img5.jpg");
}

#main {
 width : auto;
 height : 550px;
 font-family : 'Caveat', cursive;
}

.main-title {
 font-size : 80px;
 text-align : center;
 margin-top : 250px;
}

.about {
 height : 500px;
 border : 3px solid #FFA11F;
 border-radius : 20px;
 font-family : 'Caveat', cursive;
}

.top-notes {
 height : 500px;
 border : 3px solid #FFA11F;
 border-radius : 20px;
}

.notes-link {
 margin-right : 30px;
 color : black;
 text-align : right;
 color: #625757;
 font-size: 30px;
 text-decoration: none;
}

.top-notes-item {
 height : 400px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.top-notes-item > div {
 width : 25%;
 height : 100%;
 border : 1px solid grey;
 border-radius : 10px;
}

.f-note-spot {
 height : 45%;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.f-note-spot-item {
 height : 40%;
 display: flex;
 margin: 3px;
 flex-wrap: wrap;
 justify-content: space-around;
}

.f-note-spot-item > div {
 height : 100%;
 border-bottom : 1px solid grey;
}

.flag {
 width : 25%;
 padding: 10px 0 0 10px;
 color: grey;
}

.f-spot-contents {
 padding: 10px 0 0 10px;
 width : 75%;
}

.f-spot-contents > h2 {
 font-size : 20px;
}

.f-note-img {
 height : 35%;
}


.Instructions-about, .go-signin {
 font-size: 70px;
 font-family : 'Caveat', cursive;
 color : #E08404;
}

.fa-arrow-circle-down {
 color: #FFA11F;
}

#aboutmap {
 height: 90%;
 width: 50%;
 margin: 2% 2%;
}

.note-table{
 font-size: 15px;
}