// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image1 {
 background-image: image-url("home/img1.jpg");
}
.image2 {
 background-image: image-url("home/img2.jpg");
}
.image3 {
 background-image: image-url("home/img3.jpg");
}
.image4 {
 background-image: image-url("home/img4.jpg");
}
.image5 {
 background-image: image-url("home/img5.jpg");
}

#main {
 width : 100%;
 height : 680px;
 font-family: 'Outfit', sans-serif;
}

.main-title {
 font-size : 80px;
 text-align : center;
 margin-top : 300px;
}

.top-about {
 background-color : #E3DCD8;
 border-bottom-right-radius : 2000px 300px;
 border-bottom-left-radius : 2000px 300px;
}

.about {
 height : 560px;
 padding-bottom : 50px;
 font-family: 'Outfit', sans-serif;
}

#aboutmap {
 height: 90%;
 width: 50%;
 margin: 2% 2%;
}

.about-content {
 position: relative;
 z-index: 1;
}

.about-content:before {
 content: '\f3c5';
 font-family: "Font Awesome 5 Free";
 font-weight: 900;
 bottom: -200px;
 left : 30px;
 position: absolute;
 font-size: 550px;
 color : #F5EDE9;
 z-index: -1;
}

.about-title, .go-signin {
 color : #A1603A;
 font-size : 55px;
}

.Instructions-notes {
 font-size: 55px;
 color : #A1603A;
 padding-right : 10px;
}

@media screen and (max-width:992px) {
 .top-about {
  background-color : #E3DCD8;
  border-bottom-right-radius : 1000px 150px;
  border-bottom-left-radius : 1000px 150px;
 }
 .about {
  height : 560px;
  padding-bottom : 50px;
  font-family: 'Outfit', sans-serif;
 }
 #aboutmap {
  height: 90%;
  width: 50%;
  margin: 2% 2%;
 }
 .about-content {
  position: relative;
  z-index: 1;
  font-size : 12px;
 }
 .about-content:before {
  content: '\f3c5';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  bottom: -50px;
  left : 10px;
  position: absolute;
  font-size: 380px;
  color : #F5EDE9;
  z-index: -1;
 }
 .about-title, .go-signin {
  color : #A1603A;
  font-size : 30px;
 }
 .Instructions-notes {
  font-size: 30px;
  color : #A1603A;
  padding-right : 10px;
 }
}

@media screen and (max-width:768px) {
 #main {
  width : 100%;
  height : 500px;
  font-family: 'Outfit', sans-serif;
 }
 .main-title {
  font-size : 80px;
  text-align : center;
  margin-top : 200px;
 }
 .top-about {
  background-color : #E3DCD8;
  border-bottom-right-radius : 1000px 150px;
  border-bottom-left-radius : 1000px 150px;
 }
 .about {
  height : 750px;
  padding-bottom : 25px;
  font-family: 'Outfit', sans-serif;
 }
 #aboutmap {
  height: 40%;
  width: 30%;
  margin: 2% 2%;
 }
 .about-content {
  position: relative;
  z-index: 1;
  font-size : 20px;
 }
 .about-content:before {
  content: '\f3c5';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  bottom: -150px;
  left : 100px;
  position: absolute;
  font-size: 450px;
  color : #F5EDE9;
  z-index: -1;
 }
 .about-title, .go-signin {
  color : #A1603A;
  font-size : 30px;
 }
 .Instructions-notes {
  font-size: 30px;
  color : #A1603A;
  padding-right : 10px;
 }
}

@media screen and (max-width:425px) {
 #main {
  width : 100%;
  height : 430px;
  font-family: 'Outfit', sans-serif;
 }
 .main-title {
  font-size : 50px;
  text-align : center;
  margin-top : 150px;
 }
 .about {
  height : 700px;
  padding-bottom : 25px;
  font-family: 'Outfit', sans-serif;
 }
 #aboutmap {
  height: 40%;
  width: 30%;
  margin: 2% 2%;
 }
 .about-content {
  position: relative;
  z-index: 1;
  font-size : 15px;
 }
 .about-content:before {
  content: '\f3c5';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  bottom: -130px;
  left : 40px;
  position: absolute;
  font-size: 400px;
  color : #F5EDE9;
  z-index: -1;
 }
 .about-title, .go-signin {
  color : #A1603A;
  font-size : 30px;
 }
 .Instructions-notes {
  font-size: 30px;
  color : #A1603A;
  padding-right : 10px;
 }
}

.notes-link {
 margin-right : 30px;
 color : black;
 text-align : right;
 color: #625757;
 font-size: 30px;
 text-decoration: none;
}

.top-notes {
 height : 470px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 backgroud-color : #F7F0EB;
}

.top-notes > div {
 width : 25%;
 height : 100%;
 border : 1px solid #F5EEE9;
 border-radius : 10px;
 background-color : #F5EEE9;
}

.f-note-spot {
 height : 37%;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.f-note-spot-item {
 height : 40%;
 display: flex;
 margin: 2px;
 flex-wrap: wrap;
 justify-content: space-around;
}

.f-note-spot-item > div {
 height : 100%;
 border-bottom : 1px solid grey;
}

.flag {
 width : 25%;
 padding: 10px 0 0 10px;
 color: grey;
}

.f-spot-contents {
 padding: 10px 0 0 10px;
 width : 75%;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.f-spot-contents > h2 {
 font-size : 20px;
}

.homes-note-img {
 width : 200px;
 height : 200px;
 border : 2px solid grey;
}

.homes-note-img img {
 width : 100%;
 height : 100%;
 object-fit : cover;
}

.fa-arrow-circle-down {
 color: #A1603A;
}

.note-table{
 font-size: 15px;
}