// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 400px;
  width: 100%;
}

.body {
  word-break : break-word;
}

td {
  word-break : break-word;
}

.tag_caution{
  font-size: 12px;
  margin-left: 5px;
  padding: 0 2px;
}

.notes {
  width : 100%;
  height : 500px;
  display : flex;
  overflow-x: scroll;
}

.notes > div {
  margin-right : 15px;
  min-width : 250px;
  height : 100%;
  border : 1px solid grey;
  border-radius : 10px;
}

.note-tag {
  width : 100%;
  height : 6%;
  display : flex;
  flex-wrap : wrap;
  justify-content : space-around;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-spot {
  height : 35%;
}

.note-spot-item {
 height : 35%;
 display: flex;
 margin: 3px;
 flex-wrap: wrap;
 justify-content: space-around;
}

.note-spot-item > div {
 height : 100%;
 border-bottom : 1px solid grey;
}

.fa-tag {
  color: grey;
}

.flag {
 width : 25%;
 padding: 10px 0 0 10px;
 color: grey;
}

.spot-contents {
  padding: 10px 0 0 10px;
  width : 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spot-contents > h2 {
  font-size : 15px;
}

.spot-contents > p {
  font-size : 10px;
  word-break : break-word;
}

.note-img {
 height : 30%;
}
