// Place all the styles related to the searchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.word-search, .tag-search {
  border : 5px double #E3DCD8;
  border-radius: 25% 10%;
}

@media screen and (max-width:992px) {
  .word-search, .tag-search {
    border : 5px solid #E3DCD8;
    border-radius: 0% 0%;
  }
}

@media screen and (max-width:768px) {
  .word-search, .tag-search {
    border : 5px solid #E3DCD8;
    border-radius: 0% 0%;
  }
}
