// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  background-color: #b0c4de;
}

.my-tag {
  background-color : #F5EDE9;
  border : 2px solid grey;
  border-radius : 20px;
}

.follow {
  background-color : #F5EDE9;
  border : 2px solid grey;
  border-radius : 20px;
}

.usershow-profile-img-container {
  width : 150px;
  height : 150px;
  padding : 3px;
  border : 5px solid white;
  border-radius: 50%;
}

.usershow-profile-img-container img {
  width : 100%;
  height : 100%;
  border-radius: 50%;
  object-fit : cover;
}

.users-info {
  padding : 30px;
  border : 5px solid white;
  border-radius: 20px;
}

.search-box {
  padding : 30px;
  border-right: double 7px #F5EEE9;
}

.profile-img-container {
  width : 40px;
  height : 40px;
  border : 2px solid grey;
  border-radius: 50%;
}

.profile-img-container img {
  width : 100%;
  height : 100%;
  border-radius: 50%;
  object-fit : cover;
}

.user-status {
  font-size: 13px;
  color: red;
  margin-left: 5px;
  padding: 0 2px;
}