// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  background-color: #b0c4de;
}

.my-tag {
  background-color : #F5EDE9;
  border : 2px solid grey;
  border-radius : 20px;
}

.follow {
  background-color : #F5EDE9;
  border : 2px solid grey;
  border-radius : 20px;
}