<div class="container mt-5">
  <div class="row">
    <%= render 'searchs/form', tags: @tags %>
    <div class="col-9">
      <h1><b style="color: #E08504;">検</b>索結果一覧</h1>
    	<h3>"<%= @tag.tag_name %>"の検索結果</h3>
      <%= render 'notes/index', notes: @notes %>
    </div>
  </div>
</div>