<div>
  <%= form_with model:[note, note_comment] do |f| %>
    <%= f.text_area :comment, row: '5', class: "form-control", placeholder: "コメントをここに", class:"rounded-pill col-12" %><br>
    <%= f.submit "送信" %>
  <% end %>
</div>